// [original] Nextflow config used on the HPC cluster (Singularity; resource caps)
params {
    config_profile_description = 'HPC profile.'
    config_profile_contact = 'Josephine Paris (@josieparis)'
 }

singularity {
    enabled = true
    autoMounts = true
}

params {
    max_memory = 64.GB
    max_cpus = 8
    max_time = 24.h
}
